
.ratings {
  text-align: center;
  padding: 20px;
  overflow-x: hidden;
  min-height: 78vh; 
}


.table-container {
  width: 100%;
  overflow-x: auto; 
}

.ratings h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}


.ratings table {
  width: 100%;
  min-width: 600px; 
  border-collapse: collapse;
  margin: 20px auto;
}

.ratings th,
.ratings td {
  padding: 12px 20px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.ratings th {
  background-color: #f2f2f2;
  color: #555;
}

.ratings tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ratings tr:hover {
  background-color: #eaeaea;
}


.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; 
}

.full-star {
  color: gold;
}

.half-star {
  position: relative;
  display: inline-block;
  color: lightgray; 
}

.half-star::before {
  content: '★';  
  position: absolute;
  width: 50%; 
  overflow: hidden;
  color: gold;
}

.empty-star {
  color: lightgray;
}

.rating-number {
  font-size: 1rem;
  color: #333;
  margin-left: 8px;
}


.stars span {
  cursor: pointer;
  transition: color 0.2s;
}

.avg .stars span {
  pointer-events: none;
  cursor: default;
  transition: none; 
}

.stars span:hover {
  color: gold; 
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: auto; 
}

.submit-btn:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .ratings {
      padding: 10px; 
  }

  .table-container {
      overflow-x: auto; 
  }

  .ratings table {
      width: 100%;
      min-width: 100%; 
  }

  .ratings th,
  .ratings td {
      padding: 8px 10px;
      font-size: 0.8rem;
  }

  .rating-number {
    font-size: 0.8rem !important;
    color: #333;
    margin-left: 8px;
  }

  .stars {
      font-size: 1.5rem !important; 
  }

  .submit-btn {
      width: 100%;
  }
}
